# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.pyc

# Virtualenv
.venv/
venv/

# IDEs
.idea/
.vscode/

# ignorar qualquer db POR PADRÃO
*.sqlite
*.sqlite3

# 👉 MAS PERMITIR O BANCO REAL DO PROJETO
!data/karaoke.db

# arquivos temporários do SQLite
data/*.db-wal
data/*.db-shm

# backups
_backup_original/
